html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgba(231, 56, 39, 1);
  background: -moz-linear-gradient(top, rgba(231, 56, 39, 1) 0%, rgba(240, 47, 23, 1) 8%, rgba(246, 41, 12, 1) 12%, rgba(241, 111, 92, 1) 20%, rgba(252, 248, 247, 1) 30%, rgba(252, 248, 247, 1) 100%), fixed;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231, 56, 39, 1)), color-stop(8%, rgba(240, 47, 23, 1)), color-stop(12%, rgba(246, 41, 12, 1)), color-stop(20%, rgba(241, 111, 92, 1)), color-stop(30%, rgba(252, 248, 247, 1)), color-stop(100%, rgba(252, 248, 247, 1))), fixed;
  background: -webkit-linear-gradient(top, rgba(231, 56, 39, 1) 0%, rgba(240, 47, 23, 1) 8%, rgba(246, 41, 12, 1) 12%, rgba(241, 111, 92, 1) 20%, rgba(252, 248, 247, 1) 30%, rgba(252, 248, 247, 1) 100%), fixed;
  background: -o-linear-gradient(top, rgba(231, 56, 39, 1) 0%, rgba(240, 47, 23, 1) 8%, rgba(246, 41, 12, 1) 12%, rgba(241, 111, 92, 1) 20%, rgba(252, 248, 247, 1) 30%, rgba(252, 248, 247, 1) 100%), fixed;
  background: -ms-linear-gradient(top, rgba(231, 56, 39, 1) 0%, rgba(240, 47, 23, 1) 8%, rgba(246, 41, 12, 1) 12%, rgba(241, 111, 92, 1) 20%, rgba(252, 248, 247, 1) 30%, rgba(252, 248, 247, 1) 100%), fixed;
  background: linear-gradient(to bottom, rgba(231, 56, 39, 1) 0%, rgba(240, 47, 23, 1) 8%, rgba(246, 41, 12, 1) 12%, rgba(241, 111, 92, 1) 20%, rgba(252, 248, 247, 1) 30%, rgba(252, 248, 247, 1) 100%), fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#fcf8f7', GradientType=0);
}
.btn-group {
position: absolute;
 left: 49.9%;
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
}
.btn-group button {
  background-color: #FF0000;
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
header{
  height: 15%;
}
.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover {
  background-color: #8B0000;
}

.mapouter {
  position: absolute;
   left: 49.9%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
  overflow: hidden;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  display: inline-block;
  background: none !important;
  height: 500px;
  width: 600px;
}
